.promql-input {
  font-family: Menlo, Monaco, Consolas, monospace !important;
  font-size: 13px !important;
}

.promql-input:focus {
  border-color: #6c53b1;
  box-shadow: 0 0 0 2px rgba(108, 83, 177, 0.2);
}
